
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: auto; 
    text-align: center;
    font-family: 'Arial', sans-serif; 
    padding: 1rem; 
    background-color: #f1f1f1; 
  }
  
  .footer p {
    margin: 0; 
    font-size: 1rem; 
  }
  